.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #C2B97F;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button { 
    color: white !important;
}